@import url('https://fonts.googleapis.com/css?family=Silkscreen');

.contentupload{
  //outline: 1px solid red;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}


