.sidepanel{

  display: flex;
  height: 100%;
  width: 10vw;
  justify-content: center;
  align-items:  flex-start;
  border-right: #f6b10b 1px solid;
  box-sizing: border-box;
  padding: auto;
}

#logo-box{
  margin-top: 10px;
  height: 50px;
  width: 50px;
  
}